[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
shapely = {extras = ["vectorized"], version = "*"}

[dev-packages]
bumpversion = "*"
sphinx = "*"
m2r = "*"

[requires]
python_version = "3.4"
